
<div class='container'>

  <div class='row'>
    <div class="six columns">
      <h1>Patient List</h1>
    </div>
    <div class="six columns">
        <select id='bossDropdown'>
          {{#each consultants}}
            <option  id='conDropdown' value='{{clastName}}'>{{clastName}}</option>
          {{/each}}
        </select>
    </div>
</div>


  <div class='row'>
    <div class='table'>
      <table class="u-full-width">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Location</th>
            <th>HNI</th>
            <th>Consultant</th>
          </tr>
        </thead>
        <tbody>
          {{#each patients}}
            <tr>
              <td>{{firstName}}</td>
              <td>{{lastName}}</td>
              <td><span class='bold'>{{location}}</span> </td>
              <td>{{NHI}}</td>
              <td>{{clastName}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>
