
<div class='container'>
  <div class="row">
    <h1>Patient List</h1>
    <table class="u-full-width">
      <thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Location</th>
          <th>HNI</th>
          <th>clastName</th>
        </tr>
      </thead>
      <tbody>
        {{#each patients}}
          <tr>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td><span class='bold'>{{location}}</span> </td>
            <td>{{NHI}}</td>
            <td>{{clastName}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
